{% extends "base.html" %}

{% block extra_head %}
<!-- MD to HTML https://github.com/showdownjs/showdown -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js"></script>

{% endblock extra_head %}

{% block body %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-sm-12 col-md-12">
		<h1 style="text-align: left">General Meeting {{ gm.number }}</h1>
	{% if today.date <= gm.date_conv %}
	<h4>To be convened on {{ gm.date_conv }}</h4>
	{% else %}
	<h4>Convened on {{ gm.date_conv }}</h4>
	{% endif %}
	{% if today.date <= gm.date_conv %}
	<a href="{% url 'home:submit' gm.id %}" class="btn btn-primary" role="button">Submit a point to the agenda</a>
	<a href="{% url 'home:submit_update' gm.id %}" class="btn btn-warning" role="button">Submit a WG update</a>
	{% endif %}

	<hr>
	<!-- AGENDA -->
	<div style="margin-left: 2.1em">
	<h2>Agenda</h2>

	<ol type='I' style="padding-left:20px;">
	<li>WG Updates</li>
	{% if discussions %}
		<li>Discussion Points</li>
		<ol type="1">
		{% for dis in discussions %}
			<li>{{ dis.title }}</li>
		{% endfor %}
		</ol>
	{% else %}
		<li>No discussion points submitted</li>
	{% endif %}
	{% if proposals %}
		<li>Proposals</li>
		<ol type="1">
		{% for prop in proposals %}
			<li>{{ prop.title }}</li>
		{% endfor %}
	</ol>

	{% else %}
		<li>No proposals submitted</li>
	{% endif %}
		<li>All Other Business</li>
	</ol>
	</div>
<!-- WG UPDATES -->

<!-- POINTS -->
	<ol type="I" style="padding-left:0; margin-left: 2.1em">
	<h2><li>WG Updates</li></h2>
		<ul type="none" style="padding-left:10px;">
		{% if places_updates %}
		<h4><li>Places</li></h4>
			{% for up in places_updates %}
			<ul type="disc">
				<li>{{up}}</li>
			</ul>
			{% endfor %}
		{% endif %}

		{% if people_updates %}
		<h4><li>People</li></h4>
			{% for up in people_updates %}
			<ul type="disc">
				<li>{{up}}</li>
			</ul>
			{% endfor %}
		{% endif %}

		{% if procedures_updates %}
		<h4><li>Procedures</li></h4>
			{% for up in procedures_updates %}
			<ul type="disc">
				<li>{{up}}</li>
			</ul>
			{% endfor %}
		{% endif %}

		{% if participation_updates %}
		<h4><li>Participation</li></h4>
			{% for up in participation_updates %}
			<ul type="disc">
				<li>{{up}}</li>
			</ul>
			{% endfor %}
		{% endif %}

		</ul>
		{% if discussions %}
		<h2><li>Discussion Points</li></h2>
		<ol type="1" style="padding-left:10px;">
		{% for dis in discussions %}
			<h3><li>{{ dis.title }}</li></h3>
			<h6>Submitted by 
				{% if request.user == dis.submitted_by %}
					You
					on {{ dis.pub_date }}.
					{% if today.date <= gm.date_conv %}
					<div class="btn-group">
						<!-- <a href="/polls/edit/" class="btn btn-info btn-xs" role="button">Edit</a> -->
						<a href="{% url 'home:delete' dis.pk %}" class="btn btn-xs btn-danger" role="button">Delete</a>
					</div>
					{% endif %}
				{% else %}
					{{ dis.submitted_by.first_name }} {{ dis.submitted_by.last_name }} ({{ dis.submitted_by.username }}) on {{ dis.pub_date }}.
				{% endif %}</h6>
				<hr>
				<p style="border-right: solid 1px; padding-right: 5px">{{ dis.description }}</p>
			{% endfor %}
		</ol>
		{% else %}
			<h2><li>No discussion points submitted</li></h2>
		{% endif %}

		{% if proposals %}
		<h2><li>Proposals</li></h2>
		<ol type="1" style="padding-left:10px;">
		{% for prop in proposals %}
			<h3><li>{{ prop.title }}</li></h3>
			<h6>Submitted by 
				{% if request.user == prop.submitted_by %}
					You
					on {{ prop.pub_date }}.
					<div class="btn-group">
						<!-- <a href="/polls/edit/" class="btn btn-info btn-xs" role="button">Edit</a> -->
						<a href="{% url 'home:delete' prop.pk %}" class="btn btn-xs btn-danger" role="button">Delete</a>
					</div>
				{% else %}
					{{ prop.submitted_by.first_name }} {{ prop.submitted_by.last_name }} ({{ prop.submitted_by.username }}) on {{ prop.pub_date }}.
				{% endif %}</h6>
			<hr>
			<p style="border-right: solid 1px; padding-right: 5px">{{ prop.description }}</p>
		{% endfor %}
		</ol>
		{% else %}
			<h2><li>No proposals submitted</li></h2>
		{% endif %}
		<h2><li>All Other Business</li></h2>
	</ol>

	<hr>
	<p>All done! <span class="glyphicon glyphicon-heart-empty"></span></p>
	{% if today.date >= gm.date_conv %}
		{% if gm.minutes %}
			<a href="{{ file }}" target="_blank">View the uploaded minutes here</a>
		{% else %}
			<a href="{% url 'home:upload_minutes' gm.id %}" class="btn btn-success" role="button">Upload Minutes</a>
		{% endif %}
	{% endif %}
	</div>
</div>
{% endblock body %}

{% block script_base %}
<script>
$(document).ready(function(){
	var elements= document.querySelectorAll('p');
	var converter 		= new showdown.Converter();

	[].forEach.call(elements, function( el ) {
		var description 	= el.innerHTML;
		var html 			= converter.makeHtml(description);

	  el.innerHTML = html;
	});
});
</script>
{% endblock script_base %}
