{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-sm-12 col-md-12">
	<h1>General Meetings</h1>
	<h4>Historical and Upcoming</h4>
	{% if gms %}
		<table class="table">
			<thead>
				<th>#</th>
				<th>Date</th>
				<th>Proposals</th>
				<th>Discussions</th>
				<th>Minutes</th>
				<th></th>
			</thead>
			<tbody>
			<!-- {% regroup gms by gms.number as gm_list %} -->
			{% for gm in gms %}
			<tr>
				<td>{{ gm.number }}</td>
				<td>{{ gm.date_conv }}</td>
				<td>{{ gm.proposals }}</td>
				<td>{{ gm.discussions }}</td>
				<td>
					{% if gm.minutes %}
						<p>Uploaded</p>
					{% else %}
						<strong>Missing</strong>
					{% endif %}
				</td>
				<td><a href="{% url 'home:agenda' gm.id %}">View agenda</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<a href="{% url 'home:archive' %}"><h4>Go to Archive</h4></a>
	</div>
</div>
{% endblock body %}
