{% extends "home/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-1 col-sm-8 col-md-8">
	<h1>ESHC Intranet Homepage</h1>
	<p>Here (will) be all things nice.</p>
	<p>Some sort of overview of what's been going on. Recent cashflows, useful links.</p>
	</div>
	<div class="col-lg-2">
	<h2>Useful links</h2>
	<ul style="list-style-type: none; margin: 0px; padding: 0px; text-align: right">
		<li><a href="">Company Rules</a></li>
		<li><a href="">Bylaws List</a></li>
		<li><a href="">Cash Overview</a></li>
		<li><a href="">Flat Map</a></li>
		<li><a href="">GM History</a></li>
	</ul>
	</div>
</div>
{% endblock content %}
