{% extends "base.html" %}

{% block extra_head %}
<style media="screen">
	.wrapper {
	  display: grid;
	  grid-gap: 1em;
	  grid-template-columns: 1fr 2fr;
	}

	.building28 {
	  display: grid;
	  grid-gap: 0.5em;
	  grid-template-areas:
	    "h  h "
	    "f7 ."
	    "f6 f5"
	    "f4 f3"
	    "f2 f1"
	    "b b"
	}

	.building28 > div {
	  border: #CCC 1px solid;
	  padding: 0.5em;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 0.5em;
	}

	.building34 {
	  display: grid;
	  grid-gap: 0.5em;
	  grid-template-areas:
	  "h   h   h   h  "
	  "b15 b15 b16 b16"
	  ".   b14 b17 .  "
	  "b11 b11 b12 b12"
	  ".   b10 b13 .  "
	  "b7  b7  b8  b8 "
	  ".   b6  b9  .  "
	  "b3  b3  b4  b4 "
	  ".   b2  b5  .  "
	  ".   .  b1  b1  "
	}

	.h {grid-area: h}

	.f7 {grid-area: f7}
	.f6 {grid-area: f6}
	.f5 {grid-area: f5}
	.f4 {grid-area: f4}
	.f3 {grid-area: f3}
	.f2 {grid-area: f2}
	.f1 {grid-area: f1}

	.building34 > div {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-gap: 0.5em;
	  border: #CCC 1px solid;
	  padding: 0.5em;
	}

	.b1 {grid-area: b1}
	.b2 {grid-area: b2}
	.b3 {grid-area: b3}
	.b4 {grid-area: b4}
	.b5 {grid-area: b5}
	.b6 {grid-area: b6}
	.b7 {grid-area: b7}
	.b8 {grid-area: b8}
	.b9 {grid-area: b9}
	.b10 {grid-area: b10}
	.b11 {grid-area: b11}
	.b12 {grid-area: b12}
	.b13 {grid-area: b13}
	.b14 {grid-area: b14}
	.b15 {grid-area: b15}
	.b16 {grid-area: b16}
	.b17 {grid-area: b17}

  .f3,
  .f4,
  .f7,
  .b1,
  .b6,
  .b7,
  .b8,
  .b9,
  .b14,
  .b15,
  .b16,
  .b17 {
    background-color: #f7f7f7;
  }

	@media screen and (max-width: 800px) {
	.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
}
#tooltip {position: relative; cursor: default;}
#tooltip p span { display: none; color: #000000; }
#tooltip p:hover span { 
	z-index: 1000;
	display: block; 
	border: #BBB 1px solid ;
	position: absolute;
	width: 200px;
	left: 50px;
	top: -10px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 5px 6px;
	}
</style>
{% endblock extra_head %}

{% block body %}

<h3 style="margin: 1rem auto; padding: 1rem; border: 2px #ddd solid; text-align: center; width: 380px;">Check the <a href="https://docs.google.com/spreadsheets/d/1BByb0XD5YPjNRCQHgciVrCQZ-izaZcRf4QYAvG58EdA/edit?usp=sharing" target="_blank" rel="noreferrer noopener">COVID-19 Map</a></h3>

<div class="row">
	<div class="col-sm-12 col-md-12">
		<h1>Map</h1>
		<div class="wrapper">
		  <div class="building28">
		  <h4>28</h4>
        {% for f in leases_28  %}
		    <div class=f{{f.flat}}>
		      <strong>{{f.flat}}</strong>
          {% include "snippets/flat.html" with flat=f.leases size=5 %}
		    </div>
        {% endfor %}
	    </div>
		  <div class="building34">
		  <h4>34</h4>
        {% for f in leases_34  %}
		    <div class=b{{f.flat}}>
		      <strong>{{f.flat}}</strong>
          {% include "snippets/flat.html" with flat=f.leases size=f.size %}
		    </div>
        {% endfor %}
	    </div>
	</div>

{% endblock body %}
