{% extends "base.html" %}

{% block extra_head %}
<style media="screen">
	.wrapper {
	  display: grid;
	  grid-gap: 1em;
	  grid-template-columns: 1fr 2fr;
	}

	.building28 {
	  display: grid;
	  grid-gap: 0.5em;
	  grid-template-areas:
	    "h  h "
	    "f7 ."
	    "f6 f5"
	    "f4 f3"
	    "f2 f1"
	}

	.building28 > div {
	  border: #CCC 1px solid;
	  padding: 0.5em;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 0.5em;
	}

	.building34 {
	  display: grid;
	  grid-gap: 0.5em;
	  grid-template-areas:
	  "h   h   h   h  "
	  "b15 b15 b16 b16"
	  ".   b14 b17 .  "
	  "b11 b11 b12 b12"
	  ".   b10 b13 .  "
	  "b7  b7  b8  b8 "
	  ".   b6  b9  .  "
	  "b3  b3  b4  b4 "
	  ".   b2  b5  .  "
	  ".   .  b1  b1  "
	}

	.h {grid-area: h}

	.f7 {grid-area: f7}
	.f6 {grid-area: f6}
	.f5 {grid-area: f5}
	.f4 {grid-area: f4}
	.f3 {grid-area: f3}
	.f2 {grid-area: f2}
	.f1 {grid-area: f1}

	.building34 > div {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-gap: 0.5em;
	  border: #CCC 1px solid;
	  padding: 0.5em;
	}

	.b1 {grid-area: b1}
	.b2 {grid-area: b2}
	.b3 {grid-area: b3}
	.b4 {grid-area: b4}
	.b5 {grid-area: b5}
	.b6 {grid-area: b6}
	.b7 {grid-area: b7}
	.b8 {grid-area: b8}
	.b9 {grid-area: b9}
	.b10 {grid-area: b10}
	.b11 {grid-area: b11}
	.b12 {grid-area: b12}
	.b13 {grid-area: b13}
	.b14 {grid-area: b14}
	.b15 {grid-area: b15}
	.b16 {grid-area: b16}
	.b17 {grid-area: b17}

	@media screen and (max-width: 800px) {
	.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
}
#tooltip {position: relative; cursor: default;}
#tooltip p span { display: none; color: #000000; }
#tooltip p:hover span { 
	z-index: 1000;
	display: block; 
	border: #BBB 1px solid ;
	position: absolute;
	width: 200px;
	left: 50px;
	top: -10px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 5px 6px;
	}
</style>
{% endblock extra_head %}

{% block body %}



<div class="row">
	<div class="col-sm-12 col-md-12">
		<h1>Map</h1>
		<div class="wrapper">
		  <div class="building28">
		    <h4>28</h4>
		    <div class="f7">
		      <strong>7</strong>
          {% include "snippets/flat.html" with flat=leases_28_7 size=5 %}
		    </div>
		    <div class="f6">
		      <strong>6</strong>
          {% include "snippets/flat.html" with flat=leases_28_6 size=5 %}
		    </div>
		    <div class="f5">
		      <strong>5</strong>
          {% include "snippets/flat.html" with flat=leases_28_5 size=5 %}
		    </div>
		    <div class="f4">
		      <strong>4</strong>
          {% include "snippets/flat.html" with flat=leases_28_4 size=5 %}
		    </div>
		    <div class="f3">
		      <strong>3</strong>
          {% include "snippets/flat.html" with flat=leases_28_3 size=5 %}
		    </div>
		    <div class="f2">
		      <strong>2</strong>
          {% include "snippets/flat.html" with flat=leases_28_2 size=4 %}
		    </div>
		    <div class="f1">
		      <strong>1</strong>
          {% include "snippets/flat.html" with flat=leases_28_1 size=5 %}
		    </div>
		  </div>
		  <div class="building34">
		  <h4>34</h4>
		    <div class="b17">
		      <strong>17</strong>
          {% include "snippets/flat.html" with flat=leases_34_17 size=3 %}
		    </div>
		    <div class="b16">
		      <strong>16</strong>
          {% include "snippets/flat.html" with flat=leases_34_16 size=5 %}
		    </div>
		    <div class="b15">
		      <strong>15</strong>
          {% include "snippets/flat.html" with flat=leases_34_15 size=5 %}
		    </div>
		    <div class="b14">
		      <strong>14</strong>
          {% include "snippets/flat.html" with flat=leases_34_14 size=4 %}
		    </div>
		    <div class="b13">
		      <strong>13</strong>
          {% include "snippets/flat.html" with flat=leases_34_13 size=3 %}
		    </div>
		    <div class="b12">
		      <strong>12</strong>
          {% include "snippets/flat.html" with flat=leases_34_12 size=5 %}
		    </div>
		    <div class="b11">
		      <strong>11</strong>
          {% include "snippets/flat.html" with flat=leases_34_11 size=5 %}
		    </div>
		    <div class="b10">
		      <strong>10</strong>
          {% include "snippets/flat.html" with flat=leases_34_10 size=4 %}
		    </div>
		    <div class="b9">
		      <strong>9</strong>
          {% include "snippets/flat.html" with flat=leases_34_9 size=3 %}
		    </div>
		    <div class="b8">
		      <strong>8</strong>
          {% include "snippets/flat.html" with flat=leases_34_8 size=5 %}
		    </div>
		    <div class="b7">
		      <strong>7</strong>
          {% include "snippets/flat.html" with flat=leases_34_7 size=5 %}
		    </div>
		    <div class="b6">
		      <strong>6</strong>
          {% include "snippets/flat.html" with flat=leases_34_6 size=4 %}
		    </div>
		    <div class="b5">
		      <strong>5</strong>
          {% include "snippets/flat.html" with flat=leases_34_5 size=3 %}
		    </div>
		    <div class="b4">
		      <strong>4</strong>
          {% include "snippets/flat.html" with flat=leases_34_4 size=5 %}
		    </div>
		    <div class="b3">
		      <strong>3</strong>
          {% include "snippets/flat.html" with flat=leases_34_3 size=5 %}
		    </div>
		    <div class="b2">
		      <strong>2</strong>
          {% include "snippets/flat.html" with flat=leases_34_2 size=3 %}
		    </div>
		    <div class="b1">
	          <strong>1</strong>
            {% include "snippets/flat.html" with flat=leases_34_1 size=5 %}
		    </div>
	    </div>
	</div>
    <div class="col-lg-offset-1 col-sm-8 col-md-8">
		<h1>List</h1>
		<h4>Based on signed leases</h4>
		{% if leases %}
			<table class="table">
				<thead>
					<th>Name</th>
					<th>Room</th>
				</thead>
				<tbody>
				{% for lease in leases %}
				<tr>
					<td>{{lease.user.first_name}} {{lease.user.last_name}}</td>
					<td>{{ lease.building }}/{{ lease.flat }} {{ lease.room }} </td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
</div>

{% endblock body %}
