{% extends "base.html" %}

{% block body %}
<div class="row">
	<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-md-12">
		<h1>Work Share Plan</h1>
		<h4>Roles and Allocations</h4>
		{% if user.is_superuser %}
		<h2>Instructions</h2>
		<p><a href="/admin/home/role/">Click here to go to the Admin panel to edit roles</a></p>
		<p>Click on the Change link to reassign people to a specific role.</p>
		{% endif %}
		<p>Click on the role description to go to the Wiki page and find out more.</p>
		<p><a href="/wsp_subgroups/">Click here to view this list sorted by subgroup</a></p>
		{% for group, roles in groups %}
			{% if roles %}
			<h3>{{ group.name }}</h3>
				<div style="border: 1px solid lightgrey; border-radius: 5px">
					<table class="table">
						<tr>
							<th>
								Subgroup
							</th>
							<th>
								Role
							</th>
							<th>
								Responsible and past holders
							</th>
							<th>
								Job Description
							</th>
						</tr>
				{% for role in roles %}
					{% if role.group.name == group.name %}
						<tr>
							<td>
								{% if role.subgroup %}
									{{role.subgroup}}
								{% else %}
									-
								{% endif %}
							</td>
							<td>
								{{role.role_name}}
							</td>
							<td style="white-space: nowrap" {% if role.assigned_to.all.count == 0 %} class="bg-danger" {% endif %}>
								{% for person in role.assigned_to.all %}
									{% if not person.profile.current_member %}
										<strong class="text-danger">MOVED OUT: </strong>
									{% endif %}
									{{person.profile.format_name}}  <br/>
								{% endfor %}
								{% if role.assigned_to.all.count == 0 %}
									<strong class="text-danger">UNASSIGNED</strong> <br/>
								{% endif %}
								{% for person in role.past_holders.all %}
									<div class="text-muted">[past]
									{% if not person.profile.current_member %}
										[moved out]
									{% endif %}
									{{person.profile.format_name}} </div>
								{% endfor %}
								<strong><a href="/admin/home/role/{{role.id}}/change/">Change</a></strong>
							</td>
							<td>
								<a href="/wiki/work-share-plan/{{ role.role_name|slugify }}">{{role.description}}</a>
							</td>

						</tr>
					{% endif %}
				{% endfor %}
					</table>
				</div>
			{% endif %}
		{% endfor %}
	<br>
	{% if jobless and jobless.count > 0 %}
		<h3>Unassigned members</h3>
				<div style="border: 1px solid lightgrey; border-radius: 5px">
					<table class="table">
						<tr>
							<th>
								Person
							</th>
						</tr>
				{% for person in jobless %}
						<tr>
							<td style="white-space: nowrap" class="bg-danger">
								{{person.profile.format_name}}  <br/>
							</td>
						</tr>
				{% endfor %}
					</table>
				</div>
	{% endif %}
		<br>
	</div>
</div>
{% endblock body %}
