{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-sm-12 col-md-12">
		<h1>Work Share Plan</h1>
		<h4>Roles and Allocations</h4>
		{% if user.is_superuser %}
		<h2>Instructions</h2>
		<p><a href="/admin/home/role/">Click here to go to the Admin panel to edit roles</a></p>
		<p>Click on the name of the current responsible person to reassign them.</p>
		{% endif %}
		<p>Click on the role description to go to the Wiki page and find out more.</p>
		{% for group, roles in groups %}
			{% if roles %}
			<h3>{{ group.name }}</h3>
				<div style="border: 1px solid lightgrey; border-radius: 5px">
					<table class="table">
						<tr>
							<th>
								Subgroup
							</th>
							<th>
								Role
							</th>
							<th>
								Responsible
							</th>
							<th>
							 	Job Description
							</th>
						</tr>
				{% for role in roles %}
					{% if role.group.name == group.name %}
						<tr>
							<td>
								{% if role.subgroup %}
									{{role.subgroup}}
								{% else %}
									-
								{% endif %}
							</td>
							<td>
								{{role.role_name}}
							</td>
							<td>
								{% if role.assigned_to %}
								<a href="/admin/home/role/{{role.id}}/change/" style="color: black;">
									{{role.assigned_to.first_name}} {{role.assigned_to.last_name}}
								</a>
								{% else %}
									<strong><a href="/admin/home/role/{{role.id}}/change/">Assign</a></strong>
								{% endif %}
							</td>
							<td>
								<a href="/wiki/work-share-plan/{{ role.role_name|slugify }}">{{role.description}}</a>
							</td>

						</tr>
					{% endif %}
				{% endfor %}
					</table>
				</div>
			{% endif %}
		{% endfor %}
		<br>
	</div>
</div>
{% endblock body %}
