appdirs==1.4.3
argh==0.26.2
beautifulsoup4==4.7.1
bleach==2.1.4
boto3==1.9.187
botocore==1.12.187
certifi==2019.6.16
chardet==3.0.4
cssselect==1.0.3
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.10
django-allauth==0.39.1
django-appconf==1.0.3
django-classy-tags==0.9.0
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-htmlmin==0.11.0
django-import-export==1.2.0
django-mptt==0.10.0
django-nyt==1.1.3
django-ordered-model==3.2.0
django-sekizai==1.0.0
django-sendfile==0.3.11
django-storages==1.7.1
djangorestframework==3.9.4
docutils==0.14
et-xmlfile==1.0.1
fake-factory==9999.9.9
Genshi==0.7.3
gunicorn==19.9.0
hovercraft==2.6
html5lib==1.0.1
idna==2.8
jdcal==1.4.1
jmespath==0.9.4
ldap3==2.6
lxml==4.3.4
Markdown==2.6.11
Markups==3.0.0
micawber==0.5.0
oauthlib==3.0.2
odfpy==1.4.0
olefile==0.46
openpyxl==2.6.2
packaging==19.0
path.py==12.0.1
pathtools==0.1.2
pdfrw==0.4
Pillow==6.1.0
pipdeptree==0.13.2
psycopg2==2.8.3
Pygments==2.4.2
pyparsing==2.4.0
pyquery==1.4.0
python-dateutil==2.8.0
python-http-client==3.1.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1.1
reportlab==3.5.23
requests==2.22.0
requests-oauthlib==1.2.0
s3transfer==0.2.1
sh==1.12.14
six==1.12.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
static3==0.7.0
svg.path==3.0
tablib==0.13.0
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.3
watchdog==0.9.0
webencodings==0.5.1
whitenoise==4.1.2
Whoosh==2.7.4
wiki==0.4.2
xlrd==1.2.0
xlwt==1.3.0
