appdirs==1.4.3
argh==0.26.2
cssselect==1.0.1
Django==1.11.1
django-haystack==2.6.1
django-sendfile==0.3.11
docutils==0.13.1
Genshi==0.7
hovercraft==2.3
lxml==3.7.3
Markdown==2.6.8
Markups==2.0.0
micawber==0.3.4
olefile==0.44
packaging==16.8
pathtools==0.1.2
pdfrw==0.3
Pillow==4.1.1
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
pyquery==1.2.17
pytz==2017.2
PyYAML==3.12
reportlab==3.4.0
rst2html5==1.9.3
#rst2pdf==0.93.dev0
sh==1.12.13
six==1.10.0
svg.path==2.2
#https://github.com/mgaitan/waliki/tarball/master
watchdog==0.8.3
Whoosh==2.7.4
