{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-sm-12 col-md-12">
	    <h1>Please confirm deleting this?</h1>
	    
	    <div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ question.question_title }}</h3>
		  </div>
		  <div class="panel-body">
		    {{ question.question_text }}
		  </div>
		</div>
		<form method="POST">
	        {% csrf_token %}
		    <button class="btn btn-danger" name="submit">Delete</button>
		    <input type="hidden" name="next" value="{% url 'polls:index' %}" />
		</form>

	</div>
</div>
{% endblock body %}
