{% extends "home/base.html" %}

{% block content %}

<!-- <div style="text-align: center;"> -->
<div class="col-sm-4"></div>
<div class="col-sm-4" style="text-align: center">

	<h1>Login Page</h1>

	{% if form.errors %}
	<p>Credential mismatch</p>
	{% endif %}

	<form method='POST' action="{% url 'users:login' %}">

	{% csrf_token %}
	{{ form.as_p }}

	<button name="submit" class="btn">Log in</button>

	<input type="hidden" name="next" value="{% url 'home:index' %}" />

</div>
<div class="col-sm-4"></div>
{% endblock content %}

