{% extends "account/base.html" %}

{% block content %}
<div class="col-lg-offset-1 col-sm-10 col-md-10">
    <h1>Your profile</h1>
	<h2>Information</h2>
	<p>Username: {{ user.username }}</p>
	<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
	<p>Email: {{ user.email }}</p>

	<a href="{% url 'account_email' %}">Change E-mail</a>

	<p>Reference number: {{ user.profile.ref_number }}</p>
	<p>Phone number: {{ user.profile.phone_number }}</p>
	<p>Permanent address: {{ user.profile.perm_address }}</p>

	<p>Share received: {% if share_received %} Yes {% else %} No {% endif %}</p>

	{% if leases %}
		<h2>Leases</h2>
			<table class="table">
				<thead>
					<th> </th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Room</th>
					<th>Signed on</th>
					<th>Inventory</th>
				</thead>
				<tbody>
				{% for lease in leases %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ lease.start_date }}</td>
					<td>{{ lease.end_date }} </td>
					<td>{{ lease.building }}/{{ lease.flat }} {{ lease.room }} </td>
					<td>{{ lease.date_signed }}</td>
					<td><a href="{% url 'leases:inventory' lease.id %}">Inventory</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
	{% endif %}

	<h2>Login info</h2>
	<p>Last login: {{ user.last_login }}</p>
	<p>Date joined: {{ user.date_joined }}</p>
</div>


{% endblock content %}
