{% extends "account/base.html" %}

{% block content %}
<div class="col-lg-offset-1 col-sm-10 col-md-10">
  <h1>Your ESHC Profile</h1>
</div>
<div class="col-lg-offset-1 col-lg-5 col-sm-6 col-md-6">
  <div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Personal Information</h3>
	  </div>
	  <div class="panel-body">
	  	<p>Username: {{ user.username }}</p>
			<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
			<p>Email: {{ user.email }}</p>
			<p>Phone number: {{ user.profile.phone_number }}</p>
			<p>Permanent address: {{ user.profile.perm_address }}</p>
	  </div>
	  <div class="panel-footer">
		  <a href="{% url 'home:edit_profile' %}">Edit Profile</a>
		  -
		  <a href="{% url 'account_email' %}">Edit E-mail</a>
	  </div>
	</div>
  <a class="btn btn-block btn-default" href="{% url 'forum_member:profile' user.id %}">Go to your Forum Profile</a>




</div>
<div class="col-lg-5 col-sm-6 col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bank Reference Number</h3>
  </div>
  <div class="panel-body">
	  {% if user.profile.ref_number %}
			<strong>{{ user.profile.ref_number }}</strong>
	  {% else %}
	  	Not yet assigned.
	  {% endif %}
  </div>
</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Share</h3>
	  </div>
	  <div class="panel-body">
		  {% if share_received %}
				<strong>Received, thank you!</strong>
		  {% else %}
		  	Not yet received. <strong>You will not be able to access all sections of the site until we receive it.</span>
		  {% endif %}
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Login Info</h3>
	  </div>
	  <div class="panel-body">
			<!-- <h2>Login info</h2> -->
			<p>Last login: {{ user.last_login }}</p>
			<p>Date joined: {{ user.date_joined }}</p>
	  </div>
	</div> 
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">WG Membership</h3>
	  </div>
	  <div class="panel-body">
		<form method="POST" action="{% url 'profile' %}">
	        {% csrf_token %}
		    <div style="line-height: 0">{{ wg_form.as_p }}</div>
		    <button class="btn btn-info btn-xs" role="button" name="submit">Update</button>
		    <!-- <input type="hidden" name="next" value="{% url 'profile' %}" /> -->
	    </form>
	  </div>
	</div>

</div>


<div class="col-lg-offset-1 col-lg-10 col-sm-12">

	{% if leases %}
		<h2>Leases</h2>
			<table class="table">
				<thead>
					<th> </th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Room</th>
					<th>Signed on</th>
					<th>Inventory</th>
				</thead>
				<tbody>
				{% for lease in leases %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ lease.start_date }}</td>
					<td>{{ lease.end_date }} </td>
					<td>{{ lease.building }}/{{ lease.flat }} {{ lease.room }} </td>
					<td>{{ lease.date_signed }}</td>
					<td><a href="{% url 'leases:inventory' lease.id %}">Inventory</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
	{% endif %}
</div>


{% endblock content %}
