<!DOCTYPE html>
<html lang="en">
<!-- Parent template -->
{% load static %}
{% load account %}

<head>
	<meta charset="utf-8">
	{% block viewport %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock viewport %}

	{% block style_base %}
	<!-- Latest compiled and minified CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
	<!-- jQuery library -->
	<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
	{% endblock style_base %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" /> -->

	<!-- <title>ESHC Intranet</title> -->
	<title>{% block head_title_base %}{% if page and page.title %} {{ page.title }} | {% endif %}{{ SITE_NAME|default:'ESHC Intranet' }}{% endblock %}</title>

	{% block extra_head %}{% endblock extra_head %}
</head>

<body style="padding-bottom: 70px">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
		        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="{% url 'home:index' %}">ESHC<img class="navbar-brand" src="{% static "img/logoheader.png"%}" alt="Cooper Cat" style="margin-left: -50px ;margin-right: -10px"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-right">
				{% if user.is_authenticated %}
		            <ul class="nav navbar-nav">
		              <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                  <span class="glyphicon glyphicon-user"></span> {{ user }}
		                  <b class="caret"></b>
		                </a>
		                <ul class="dropdown-menu">
		                  <li>
		                    <a href="{% url 'profile' %}">
		                      <span class="glyphicon glyphicon-user"></span> ESHC Profile
		                    </a>
		                  </li>
		                  <li>
		                    <a href="{% url 'account_logout' %}">
		                      <span class="glyphicon glyphicon-log-out"></span> Log Out
		                    </a>
		                  </li>
		                </ul>
		              </li>
	                </ul>
	            </ul>
				<ul class="nav navbar-nav">
					{% block navbar %}
						{% include "navbar_links.html" %}
					{% endblock navbar %}
				</ul>
	            {% endif %}
				{% if request.user.is_authenticated %}
				{% else %}
				<ul class="nav navbar-nav">
					<li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					{% endif %}
				</ul>
		</div>
	</nav>

    
	<div class="container">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			{% block messages %}
			  {% if messages %}
				  {% for message in messages %}
				    <div class="alert fade in {% if message.tags %} alert-{% if 'safe' in message.tags %}{{ message.tags|slice:"5:" }}{% else %}{{ message.tags }}{% endif %}{% endif %} alert-dismissable">
				    <!-- slice removes safe tag if present -->
				    <button type="button" class="close" data-dismiss="alert">×</button>
						{% if 'safe' in message.tags %}
							{{ message|safe }}
						{% else %}
							{{ message }}
						{% endif %}
				    </div>
				  {% endfor %}
			  {% endif %}
			{% endblock messages %}
		</div>
		<div class="col-sm-2"></div>
	</div>


	<div class="container">
		{% block body %}{% endblock body %}
	</div>

	<footer>
		{% block footer %}
		<nav class="navbar navbar-fixed-bottom hidden-xs" style="background-color: white">
			<div class="container">
				<ul class="nav navbar-nav ">
					<li><a href="https://www.facebook.com/EdinburghCoops/">Facebook</a></li>
					<li><a href="https://edinburghcoop.wordpress.com/">Wordpress</a></li>
					<li><a href="https://twitter.com/EdinburghCoop">Twitter</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a href="/accounts/profile/" style="color: gray">Last login: {{ user.last_login }}</a></li>
					{% endif %}
				</ul>
			</div>
			{% endblock footer %}
		</nav>
	</footer>

	{% block script_base %}
		{% block extra_script %}{% endblock %}
	{% endblock %}

	{% block extra_body_base %}
			{% block extra_body %}{% endblock %}
	{% endblock %}


</body></html>
