{% extends "base.html" %}

{% block extra_head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js" integrity="sha256-RIfYIzpTkKTqDJeeVkrCaZQPOIkE/lferWiNSYXhrLY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@0.4.0/dist/chartjs-plugin-colorschemes.min.js" integrity="sha256-Ctym065YsaugUvysT5nHayKynbiDGVpgNBqUePRAL+0=" crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block body %}

<div class="row">

<div class="col-md-6 text-center">
    <h3>What does your rent go towards?</h3>
</div>

</div>

<div class="row">

<div class="col-md-6">
    <canvas id="rentChart"></canvas>
</div>

</div>

<script>
var rentCtx = document.getElementById('rentChart').getContext('2d');
var rentChart = new Chart(rentCtx, {
    type: 'doughnut',
    data: {
        labels: [
            {% for c,v in pay_per_cust.items %}
                '{{c}}',
            {% endfor %}
        ],
        datasets: [{
            data: [
                {% for c,v in pay_per_cust.items %}
                {{v}},
                {% endfor %}
            ]
        }]
    },
    options: {
        plugins: {
            colorschemes: {
                scheme: 'brewer.Spectral10'
            }
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var label = data.labels[tooltipItem.index] || '';

                    if (label) {
                        label += ': £';
                    }
                    label += Math.round(data.datasets[0].data[tooltipItem.index] * 100) / 100;
                    return label;
                }
            }
        }
    }
});
</script>

{% endblock body %}
