{% extends "base.html" %}

{% block extra_head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js" integrity="sha256-RIfYIzpTkKTqDJeeVkrCaZQPOIkE/lferWiNSYXhrLY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@0.4.0/dist/chartjs-plugin-colorschemes.min.js" integrity="sha256-Ctym065YsaugUvysT5nHayKynbiDGVpgNBqUePRAL+0=" crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block body %}

<div class="row">

<div class="col-md-12 text-center">
    <h3>Financial overview</h3>
</div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">General financial overview</div>
            <ul class="list-group">
                <li class="list-group-item">Reporting period start: {{ this_report.start_date }}</li>
                <li class="list-group-item">Reporting period end: {{ this_report.end_date }}</li>
                <li class="list-group-item">Total income in this period: £{{ this_report.total_income|floatformat:2 }}</li>
                <li class="list-group-item">Total expenses in this period: £{{ this_report.total_expenses|floatformat:2 }}</li>
                <li class="list-group-item">Unused income in this period: £{{ this_report.unused_income|floatformat:2 }}</li>
                <li class="list-group-item">Average income per member per month (roughly rent) in this period: £{{ this_report.rent_avg_value|floatformat:2 }}</li>
                <li class="list-group-item">The above figure is used to calculate the "rent equivalent", which should give you an idea of how much of your rent is contributing towards each expense type. This is not a perfect calculation, as rent is not always our only source of income!</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Total spending per WG</div>
            <canvas id="spendChart" width="200" height="200"></canvas>
            <br>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Total spending per type</div>
            <canvas id="typeChart" width="200" height="200"></canvas>
            <br>
        </div>
    </div>
</div>


<script>
var chartOptions = {
    plugins: {
        colorschemes: {
            scheme: 'brewer.Spectral10'
        }
    },
    legend: {
        display: true
    },
    tooltips: {
        callbacks: {
            label: function(tooltipItem, data) {
                return label = data.labels[tooltipItem.index] || '';
            }
        }
    }
};
var spendCtx = document.getElementById('spendChart').getContext('2d');
var spendChart = new Chart(spendCtx, {
    type: 'doughnut',
    data: {
        labels: [
            {% for c,v in this_wg.items %}
                '{{c|escapejs}}: £{{v.bare|floatformat:2}} (rent equivalent: £{{ v.rent|floatformat:2 }})',
            {% endfor %}
        ],
        datasets: [{
            data: [
                {% for c,v in this_wg.items %}
                {{v.bare}},
                {% endfor %}
            ]
        }]
    },
    options: chartOptions
});
var typeCtx = document.getElementById('typeChart').getContext('2d');
var typeChart = new Chart(typeCtx, {
    type: 'doughnut',
    data: {
        labels: [
            {% for c,v in this_type.items %}
                '{{c|escapejs}}: £{{v.bare|floatformat:2}} (rent equivalent: £{{ v.rent|floatformat:2 }})',
            {% endfor %}
        ],
        datasets: [{
            data: [
                {% for c,v in this_type.items %}
                {{v.bare}},
                {% endfor %}
            ]
        }]
    },
    options: chartOptions
});
</script>

{% endblock body %}
